# backend
/node_modules
.env
package-lock.json

# client
/public
/client/node_modules

/ciphers
client/temp.txt
client/package-lock.json
client/src/assets/images/bg.png
client/src/assets/images/cd-bg.jpg
